@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td.ant-descriptions-item {
  padding-bottom: 10px !important;
}

.custom-select .ant-select-selection-item {
  color: #e86a12 !important;
  font-weight: 700 !important;
}

.custom-select {
  background-color: #fff1e6;
  padding-left: 10px !important;
  border-radius: 10px;
}

.confirm-modal-custom .ant-modal-confirm-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.confirm-modal-custom .ant-modal-confirm-body {
  justify-content: center;
}

.note {
  position: relative;
  z-index: 2;
  width: fit-content;

  &>* {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #fef08a;
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}